.header-main {
  height: 35rem;
  background: white;
  background-size: cover;
}

.custom-btn {
  background: none;
  margin: 2rem;
  font-size: 3rem;
  border: none;
  color: black;
}

.custom-btn:hover {
  background-color: transparent;
  text-shadow: 0 0 10px black;
}
.custom-btn:active,
.btn-custom:focus {
  background-color: transparent !important;
}

/* logomain */
.logo-main {
  background: url(/logo/logo.png);
  background-size: cover;
  height: 240px;
  width: 240px;
}

/* frasesconteiner */
.phrase {
  display: none;
  transition: opacity 1s;
  font-weight: bolder;
  text-align: center;
  color: white; /* Color de texto */
  font-family: "Playwrite US Trad", cursive;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 1.25rem; /* Tamaño de fuente */
  margin-top: 10px; /* Margen superior */
  text-shadow: 0 0 10px black;
  max-width: 600px;
}

/* navlateral */
.nav-lateral li a {
  text-decoration: none;
  color: black;
}
.nav-lateral li {
  list-style: none;
  padding-bottom: 20px;
  padding-top: 20px;
}
