.offer-section {
  background-color: black;
  color: #fff;
  padding: 80px 0;
  text-align: center;
}

.offer-content {
  max-width: 800px;
  margin: 0 auto;
}

.offer-content h2 {
  font-size: 3rem;
  margin-bottom: 30px;
}

.offer-content p {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.offer-btn {
  border: 2px solid #fff;
  padding: 12px 30px;
  font-size: 1.2rem;
  font-weight: bold;
  transition: all 0.3s ease;
}

.offer-btn:hover {
  background-color: white;

  color: black;
}
